<section id="donate">
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Support Dragonflyers of Michigan</h2>
                <p>
                    <!--Dragonflyers of Michigan is organized exclusively for charitable and educational purposes under section 501 (c)(3) of the Internal Revenue Code, based in Lansing, Michigan.--> Dragonflyers of Michigan supports community programs through fundraising, empowerment, education and charitable work in support of the sport of dragon boating, Through charitable racing and volunteer activities, we raise funds for women’s issues, the arts, health and wellness, cancer issues, disability, veteran’s issues, and community-based programs.</p>
                <a href="#" class="btn btn-secondary btn-xl wow tada disabled">Donate <span style="text-decoration: line-through;">Now</span> Soon!</a>
            </div>
        </div>
    </aside>
</section>
