<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Events Calendar</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <!-- https://bootsnipp.com/snippets/VgzeR -->
    <div class="container">
        <div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">17</span></h1>
				<h2>MAY</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Columbus Asian Festival</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
                    <li class="list-inline-item"><i class="fa fa-cloud" aria-hidden="true"></i> https://asianfestivaldragonboat.org</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Columbus, OH</li>
				</ul>
				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
        <div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">7</span></h1>
				<h2>JUN</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Pickering Dragon Boat Festival</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
                    <li class="list-inline-item"><i class="fa fa-cloud" aria-hidden="true"></i> http://www.pdbc.ca/festival/festival</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Pickering, ON</li>
				</ul>
				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">20</span></h1>
				<h2>JUN</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>BUFFALO NIAGARA DRAGON BOAT FESTIVAL</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
                    <li class="list-inline-item"><i class="fa fa-cloud" aria-hidden="true"></i> http://www.hopechestbuffalo.org/index.php/buffalo-niagara-dragon-boat/</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Buffalo, NY</li>
				</ul>
				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
        </div>
        <div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">25</span></h1>
				<h2>JUL</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Dragons on the Lake Festival</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
                    <li class="list-inline-item"><i class="fa fa-cloud" aria-hidden="true"></i> http://dragonsonthelake.com</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Akron, OH</li>
				</ul>
				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
        <div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">TBA</span></h1>
				<h2>SEP</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Louisville Dragon Boat Festival</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>?</li>
                    <li class="list-inline-item"><i class="fa fa-cloud" aria-hidden="true"></i> https://www.facebook.com/LouisvilleDragonBoatFestival/</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Louisville, KY</li>
				</ul>
				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
        <div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">20</span></h1>
				<h2>SEP</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Capital City Dragon Boat Race</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
                    <li class="list-inline-item"><i class="fa fa-cloud" aria-hidden="true"></i> https://www.facebook.com/CapitalCityDragonBoat</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Lansing, MI</li>
				</ul>
				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
        <div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">4-5</span></h1>
				<h2>JUL</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Hamilton Waterfront Festival</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Pickering, ON</li>
				</ul>
				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
    </div><!-- container -->
    <!--
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    -->
</section>
