<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h2 class="section-heading">Events Calendar</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <!-- https://bootsnipp.com/snippets/VgzeR -->
    <div class="container">
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h2><span class="badge badge-pill badge-secondary">17</span></h2>
                <h3>MAY</h3>
            </div>
            <div class="col-10">
                <h4><strong>Columbus Asian Festival</strong></h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Columbus, OH</li>
                </ul>
                <a href="https://asianfestivaldragonboat.org">https://asianfestivaldragonboat.org</a>
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h2><span class="badge badge-pill badge-secondary">07</span></h2>
                <h3>JUN</h3>
            </div>
            <div class="col-10">
                <h4><strong>Pickering Dragon Boat Festival</strong></h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Pickering, ON</li>
                </ul>
                <a href="http://www.pdbc.ca/festival/festival">http://www.pdbc.ca/festival/festival</a>
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h2><span class="badge badge-pill badge-secondary">20</span></h2>
                <h3>JUN</h3>
            </div>
            <div class="col-10">
                <h4><strong>Buffalo Niagra Dragon Boat Festival</strong></h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Buffalo, NY</li>
                </ul>
                <a href="http://www.hopechestbuffalo.org/index.php/buffalo-niagara-dragon-boat/">http://www.hopechestbuffalo.org/index.php/buffalo-niagara-dragon-boat/</a>
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h2><span class="badge badge-pill badge-secondary">25</span></h2>
                <h3>JUL</h3>
            </div>
            <div class="col-10">
                <h4><strong>Dragons on the Lake Festival</strong></h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Akron, OH</li>
                </ul>
                <a href="http://dragonsonthelake.com">http://dragonsonthelake.com</a>
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h2><span class="badge badge-pill badge-secondary">??</span></h2>
                <h3>SEP</h3>
            </div>
            <div class="col-10">
                <h4><strong>Louisville Dragon Boat Festival</strong></h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> To be announced</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Louisville, KY</li>
                </ul>
                <a href="https://www.facebook.com/LouisvilleDragonBoatFestival/">https://www.facebook.com/LouisvilleDragonBoatFestival/</a>
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h2><span class="badge badge-pill badge-secondary">20</span></h2>
                <h3>SEP</h3>
            </div>
            <div class="col-10">
                <h4><strong>Capital City Dragon Boat Race</strong></h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Lansing, MI</li>
                </ul>
                <a href="https://www.facebook.com/CapitalCityDragonBoat">https://www.facebook.com/CapitalCityDragonBoat</a>
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h2><span class="badge badge-pill badge-secondary">4-5</span></h2>
                <h3>JUL</h3>
            </div>
            <div class="col-10">
                <h4><strong>Hamilton Waterfront Festival</strong></h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Pickering, ON</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- container -->
    <!-- <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div>
    -->
</section>
