<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Dragonflyers of Michigan</h1>
            <hr>
            <p>The members of Dragonflyers of Michigan are unified together as a non-profit dragon boat organization to be role models of sportsmanship in our sport, and to support the sport of dragon boat nationally. We are passionate about welcoming new members to the sport. Using our passion, we challenge ourselves mentally, physically and emotionally to do our best. Dragonflyers of Michigan appreciate, honor, and promote a diverse and inclusive community with varying abilities and ambitions. Through its competitions and practices, Dragonflyers of Michigan provide educational and growth opportunities for its members and others who may want to support and advance the sport of dragon boat.</p>
            <a href="#mission" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
