<section class="bg-dark" id="mission">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-lg-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="light">
                <p class="text-faded">Foster the national and international amateur sport competition of dragon boat racing and charitable racing through connection, stewardship, growth, inclusion and responsibility.</p>
            </div>
        </div>
    </div>
</section>